{%extends 'layout.html'%}
{%block content%}
<h1>Signup/Login To Your Account</h1>
<section id="breadrumbs" class="breadrumbs">
<div class = "container">
<div class="d-flex justify-content-between align-items-center">
</div>
</section>
<div class="row mt-5 justify-content-center" data-aos="fade-up">
<div class="col-lg-4">
<h3 class="text-center">Login To Your Account</h3><br>


{%if messages %}
<div class='row'>
    <div class='col-xs-12'>
{%for message in messages %}
<div class="alert{{message.tags}} alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="close">
<span aria-hideen="true">&times;</span>
</button>
{{message}}
</div>
{%endfor%}
</div>
</div>
{%endif%}

<form action="" method="post" role="form">
{% csrf_token %}
<div class="form-group">
<input type="text" class="form-control" name="username" id="username" placeholder="Username">
<div class="validate"></div>
</div><br>
<div class="form-group">
<input type="Password" class="form-control" name="password" id="password" placeholder="Password">
<div class="validate"></div>
</div><br>
<small>Forgot <a href="{%url 'forgotpassword'%}">password!</a></small>
<div class="text-center"><br>
<button type="submit" class="btn btn-success btn-block ">Login</button>
</div>
</form>
<small>Don't Have Account <a href="{%url 'registration'%}">Register Now!</a></small>
</div>
</div>
</div>
</section>
{%endblock%}