 {%load static%}
<!doctype html>
<html lang="en">
  <head>
  {% block title %}
  {% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel ='stylesheet' href ={% static 'css/style.css' %} type='text/css'>
  </head>
  <style>

  body { 
    {%load static%}
    no-repeat center center ;
    background-attachment: fiixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/img/rat.jpg');
    background-size: cover;
    width:100%;
      height:100%;
  }
  </style>
 
  <body style="background-image:url('/static/img/rat.jpg');">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'home'%}">AucSell</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'home'%}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'about'%}">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'live'%}">LIVE</a>
        </li>
         {% if user.is_authenticated %}
         <li class="nav-item">
          <a class="nav-link active"  href="{%url 'post'%}">POST</a>
          <li class="nav-item">
          <a class="nav-link active" href="{%url 'post'%}">BID</a>
        </li>
          {%else%}
          <li class="nav-item">
          <a class="nav-link active" href="{%url 'registration'%}">BID</a>
        </li>
          {%endif%}
        </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <a class="nav-link active" href="">{{user.first_name}}</a>
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'logout'%}">Logout</a>
          </li>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% else%}
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'login'%}">Account</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>
    {%block content%}
    {%endblock%}
    {%block slider%}
    {%endblock%}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->   
</body>


